@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/grid.scss";
@import "~taro-ui/dist/style/components/tab-bar.scss";
@import "~taro-ui/dist/style/components/badge.scss";
@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/list.scss";