@font-face {
    font-family: 'FontAwesome';
    /* 自行安装第三方字体图标库 */
    src: url('./lib/font/iconfont.eot');
    src: url('./lib/font/iconfont.woff2') format('woff2'), url('./lib/font/iconfont.woff') format('woff'), url('./lib/font/iconfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }