@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Roboto";
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 250px;
  background: linear-gradient(#f9bc61, #fde8c9);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 88%;
  width: 88%;
  background-color: white;
  border-radius: 8px;
}

.content > .top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20%;
  background-color: white;
}

.content > .top p {
  font-weight: bold;
  font-size: 12px;
}

.content > .top .color {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: orange;
}

.content > .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  background: linear-gradient(#f9bc61, #fde8c9 75%);
  padding-left: 15px;
  padding-right: 15px;
}

.content > .middle img {
  width: 60%;
}

.content > .middle div > p:first-child {
  margin-bottom: 5px;
  font-size: 12px;
}

.content > .middle div > p:last-child {
  margin: 0;
  font-weight: bold;
}

.content > .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  padding-left: 30px;
  padding-right: 30px;
}

.content > .bottom div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content > .bottom div p:first-child {
  font-weight: bold;
}


