.my_books{
    width: 770px;
    margin: 0 auto;
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    box-sizing: border-box;
}
.my_books_title{
    text-align: center;
}

.my_books .router{
    text-align: center;
}